body {
    background-color: #EFEEEA;
}

h4 {
    color: #234c6a;
}

td .status {
    padding: 5px;
    border-radius: 5px;
    font-weight: 400;
    width: 120px;
    text-align: center;
    display: inline-block;
}

td .aksi{
    padding: 5px;
}
td a{
    text-decoration: none;
}

td .aksi:hover{
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.status-pinjam {
    background-color: #d8eefe;
    color: #2994f2;
}

.status-booking {
    background-color: #e8e3fd;
    color: #6e42f5;
}

.status-kembali {
    background: #EDEDED; color: #666666;
}

.status-batal {
    background-color: #ffe1e1;
    color: #d93025;
}